html,
html * {
	box-sizing: border-box;
	margin: 0 2em 0 2em;
	padding: 0;
	background-color: #FFFAFA;
}

/* Header */
header {
position: absolute;
  width: 100%;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #708090;
}

header ul li {
	float: right;
	text-align: center;
	padding-left: 1.5em;
	letter-spacing: 2px;
	transition: all 0.3s linear; 
}

header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font: lighter;
	font-size: 0.8em;
}

/*Body*/
body {
	background-color: #fff;
	z-index: 0;
}
