body {
	background: #fff;
}

#wrap {
	width: 700px;
	height: 50px;
	margin: 10px 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #708090;
	font-size: 14px;
}

/* Header */
#header {
	position: fixed;
	height: 50px;
	margin: 10px 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #708090;
}

/*Top bar*/
#topbar {
	height: 78px;	
}

/*Header Menu*/
#topmenu {
	display: block;
	list-style: none;
	padding: 0 0 0 278px;
	float: right;
	width: 100%;
}

#topmenu li {
	display: inline;	
}

#topmenu a {
	display: block;
	float: left;
	height: 28px;
	margin: 0;
	text-decoration: none;
	padding: 0 15px;
	text-align: center;
}

#topmenu a, #topmenu a:visited, #topmenu a:active {
	color:#fff;
}

#topmenu a:hover {
	color: #fff;
	background-color: #A52A2A;
}

/* Content*/
#content {
	background-color: #fff;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #696969;
}

#mainpage {
	width: 700px;
	float: left;
	padding: 5px 5px 5px 0px;
	text-align: justify;
}

#mainpage p {
	line-height: 22px;
	margin: 10px 0px 22px 0px;
	text-align: justify;
}

#mainpage blockquote {
	background: #efefef;
	display: block;
	margin: 5px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

h1, h2, h3{
	color: #efefef;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#mainpage h1 {
	font-size: 24px;
}

#mainpage h2 {
	font-size: 18px;
}
#mainpage h3 {
	font-size: 16px;
}
