@charset "utf-8";
/* CSS Document */

body {
	width: 100%;
	background-color: #C2C2C2;
	height: auto;
	margin: 0;
	padding: 0;
	font-family: "Century Gothic";
	color: #fff;
}

h1 {
	text-transform: uppercase;
	font-size: 45px;
}

/*Header and navigation*/
header {
	width: 100%;
	height: 55px;
	padding: 0px;
	z-index: 5;
	border-bottom: 1px solid rgba(252,252,252,0.05);
	position: fixed;
	background-color: rgba(252,252,252,0.1);
}

.home {
	font-weight: bold;
	display: inline-block;
	text-align: undefined;
	float: left;
	color: #E1E1E1;
	font-size: 20px;
	margin-top: 15px;
	margin-left: 25px;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none !important;
	list-style: none;
	transition: all 0.1s linear;
}

nav {
	float: right;
}

nav ul li {
	float: left;
	display: inline-block;
	font-size: 15px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
}

ul li a {
	color: #E1E1E1;
	text-decoration: none;
	transition: all 0.1s linear;
}
ul li:hover a, .home:hover {
	color: #fff;
}

/*Front Page*/
.frontpage_banner {
	background: linear-gradient(to right, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.5) 100%), url("./images/F3R0T_Banner.png");
	background-size: cover;
	min-height: 47.2em;
	background-position: center center;
	width: 100%;
	background-repeat: no-repeat;
}

.frontpage_banner_text {
	right: 150px;
	position: absolute;
	top: 20%;
	display: table-cell;
	align-content: center;
	width: 30%;
	height: auto;
	text-align: center;
	text-shadow: 0px 0px 8px #0F0F0F;
}

.frontpage_banner_text h1 {
	font-size: 100px;
	margin-top: 10px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.frontpage_banner_text h2 {
	font-size: 20px;
	margin-top: 0;
	font-weight: light;
	padding-bottom: 3em;
}

.frontpage_banner_text h3 {
	font-style: italic;
	margin-bottom: 0;
	text-transform: uppercase;
}


.frontpage_button {
	display: inline-block;
	border: 5px solid #CFCFCF;
	vertical-align: middle;
	height: 60px;
	width: 200px;
	text-shadow: 0px 0px 8px #0F0F0F;
	background-color: rgba(193,193,193, 0.3);
	transition: all 0.1s linear;
}

.frontpage_button:hover {
	border: 5px solid white;
	height: 70px;
	width: 210px;
	margin-top: -5px;
	cursor: pointer;
}

.frontpage_button p, .frontpage_button a {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	font-weight: bolder; 
	color: #E1E1E1;
	text-shadow: 0px 0px 8px #0F0F0F;
	transition: all 0.1s linear;
}

.frontpage_button:hover a, .frontpage_button:hover p{
	color: #fff;
	text-decoration: none;
	font-size: 22px;
}

/*Games*/
wrap {
	width: 98%;
	margin: 0 1%;
	height: auto;
	padding-bottom: 100px;
	display: inline-block;
	background-color: #fff;
}

wrap h1 {
	color: #4F4F4F;
	width: 90%;
	margin: 40px 5% 0;
	padding-bottom: 5px;
	border-bottom: 10px double #4F4F4F;
	font-size: 50px;
	font-family: "Bebas Neue";
	text-transform: none;
	text-align: left;
}

table {
	width: 90%;
	margin: 50px 5% 0;
	height: 400px;
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
	color: #4F4F4F;
}

td {
	width: 33%;
	padding: 0 1%;
}

.td_description {
	width: 80%;
	min-width: 150px;
	margin: 0 10%;
}

.td_button {
	min-width: 100px;
	width: 40%;
	display: inline-block;
	font-family: "Bebas Neue";
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	height: 40px;
	margin: 10px;
	color: #4F4F4F;
	background-color: none;
	border: 4px solid #4F4F4F;
	padding: 9px 5px 0;
	cursor: pointer;
	transition: all 0.1s linear;
}

.td_button:hover {
	width: 60%;
	box-shadow: 0px 0px 1px 0 #000;
}

.game_thumbnail {
	width: 100%;
	border-radius: 4px;
	box-shadow: 0px 0px 1px 0 #000;
	height: 250px;
	background-size: cover;
	background-position: center center;
}

.game_title {
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
}

.game_description {
	font-family: "Arial";
	font-weight: lighter;
	height: 100px;
	font-size: 16px;
}

.page_banner {
	background: linear-gradient(to right, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.5) 100%), url("./images/Games_Banner.jpg");
	background-size: cover;
	min-height: 650px;
	background-position: bottom center;
	width: 100%;
	background-repeat: no-repeat;
}

.page_banner_text {
	width: auto;
	font-family: "Bebas Neue";
	max-width: 400px;
	font-weight: lighter;
	height: 300px;
	top: 150px;
	right: 150px;
	text-shadow: 0px 0px 8px #0F0F0F;
	text-align: right;
	position: absolute;
	display: inline-block;
}