@charset "utf-8";
/* CSS Document */

@font-face {
font-family: "Bebas Neue";
src: url("./images/BebasNeue.otf") format('OpenType');
}

body {
	width: 100%;
	background-color: #C2C2C2;
	height: auto;
	margin: 0;
	padding: 0;
	font-family: "Century Gothic";
	color: #fff;
}

h1 {
	text-transform: uppercase;
	font-size: 45px;
}

/*Header and navigation*/
header {
	width: 100%;
	height: 55px;
	padding: 0px;
	z-index: 5;
	border-bottom: 1px solid rgba(252,252,252,0.1);
	position: fixed;
	background-color: rgba(0,0,0,0.1);
}

.home {
	font-weight: bold;
	display: inline-block;
	text-align: undefined;
	float: left;
	color: #E1E1E1;
	font-size: 20px;
	margin-top: 15px;
	margin-left: 25px;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-shadow: 0px 0px 8px #0F0F0F;
	text-decoration: none !important;
	list-style: none;
	transition: all 0.1s linear;
}

nav {
	float: right;
}

nav ul li {
	float: left;
	display: inline-block;
	font-size: 15px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
}

ul li a {
	color: #E1E1E1;
	text-shadow: 0px 0px 8px #0F0F0F;
	text-decoration: none;
	transition: all 0.1s linear;
}
ul li:hover a, .home:hover {
	color: #fff;
}

/*Front Page*/
.frontpage_banner {
	width: 100%;
}

.frontpage_banner_text {
	right: 150px;
	position: absolute;
	top: 20%;
	display: table-cell;
	align-content: center;
	width: 30%;
	height: auto;
	text-align: center;
	text-shadow: 0px 0px 8px #0F0F0F;
}

.frontpage_banner_text h1 {
	font-size: 100px;
	margin-top: 10px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.frontpage_banner_text h2 {
	font-size: 20px;
	margin-top: 0;
	font-weight: light;
	padding-bottom: 3em;
}

.frontpage_banner_text h3 {
	font-style: italic;
	margin-bottom: 0;
	text-transform: uppercase;
}


.frontpage_button {
	display: inline-block;
	border: 5px solid #CFCFCF;
	vertical-align: middle;
	height: 60px;
	width: 200px;
	text-shadow: 0px 0px 8px #0F0F0F;
	background-color: rgba(193,193,193, 0.3);
	transition: all 0.1s linear;
}

.frontpage_button:hover {
	border: 5px solid white;
	height: 70px;
	width: 210px;
	margin-top: -5px;
	cursor: pointer;
}

.frontpage_button p, .frontpage_button a {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	font-weight: bolder; 
	color: #E1E1E1;
	text-shadow: 0px 0px 8px #0F0F0F;
	transition: all 0.1s linear;
}

.frontpage_button:hover a, .frontpage_button:hover p{
	color: #fff;
	text-decoration: none;
	font-size: 22px;
}

/*Non-front pages*/
wrap {
	width: 98%;
	margin: 0 1%;
	height: auto;
	padding-bottom: 100px;
	display: inline-block;
	background-color: #fff;
}

wrap h1 {
	color: #4F4F4F;
	width: 90%;
	margin: 40px 5% 40px;
	padding-bottom: 5px;
	border-bottom: 10px double #4F4F4F;
	font-size: 50px;
	font-family: 'Bebas Neue';
	text-transform: none;
	text-align: left;
}

.page_banner {
	background-size: cover;
	min-height: 650px;
	background-position: bottom center;
	width: 100%;
	background-repeat: no-repeat;
}

.page_banner_text {
	width: auto;
	font-family: "Bebas Neue";
	max-width: 400px;
	font-weight: lighter;
	height: 300px;
	top: 150px;
	right: 150px;
	text-shadow: 0px 0px 8px #0F0F0F;
	text-align: right;
	position: absolute;
	display: inline-block;
}

/*Games*/
table {
	width: 90%;
	margin: 50px 5% 0;
	height: 400px;
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
	color: #4F4F4F;
}

td {
	width: 33%;
	padding: 0 1%;
}

.td_description {
	width: 80%;
	min-width: 150px;
	margin: 0 10%;
}

.td_button {
	min-width: 100px;
	width: 40%;
	display: inline-block;
	font-family: "Bebas Neue";
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	height: 40px;
	margin: 10px;
	color: #4F4F4F;
	background-color: none;
	border: 4px solid #4F4F4F;
	padding: 9px 5px 0;
	cursor: pointer;
	transition: all 0.1s linear;
}

.td_button:hover {
	width: 60%;
	box-shadow: 0px 0px 1px 0 #000;
}

.game_thumbnail {
	width: 100%;
	border-radius: 4px;
	box-shadow: 0px 0px 1px 0 #000;
	height: 250px;
	background-size: cover;
	background-position: center center;
}

.game_title {
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
}

.game_description {
	font-family: "Arial";
	font-weight: lighter;
	height: 100px;
	font-size: 16px;
}

table {
	width: 90%;
	margin: 50px 5% 0;
	height: 400px;
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
	color: #4F4F4F;
}

td {
	width: 33%;
	padding: 0 1%;
}

.td_description {
	width: 80%;
	min-width: 150px;
	margin: 0 10%;
}

.td_button:hover {
	width: 60%;
	box-shadow: 0px 0px 1px 0 #000;
}

.game_thumbnail {
	width: 100%;
	border-radius: 4px;
	box-shadow: 0px 0px 1px 0 #000;
	height: 250px;
	background-size: cover;
	background-position: center center;
}

.game_title {
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
}

.game_description {
	font-family: "Arial";
	font-weight: lighter;
	height: 100px;
	font-size: 16px;
}

.td_button{
	min-width: 100px;
	width: 40%;
	display: inline-block;
	font-family: "Bebas Neue";
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	height: 40px;
	margin: 10px;
	color: #4F4F4F;
	background-color: none;
	border: 4px solid #4F4F4F;
	padding: 9px 5px 0;
	cursor: pointer;
	transition: all 0.1s linear;
}

/*Game-specific pages*/
.game_images {
	height: auto;
	width: 100%;
	display: inline-block;
}

.mySlides {
	display:none
}

.poll_buttons {
	width: 100%;
	height: 40px;
	border-radius: 10px;
	background-color: blue;
	margin-top: 20px;
	color: #fff;
	background-color: #8A8A8A;
	cursor: pointer;
	transition: all 0.1s linear;
}

.poll_buttons:hover {
	background-color: #9A9A9A;
	box-shadow: 0px 0px 1px 1 #000;
}

.poll_submit {
	width: 40%;
	height: 40px;
	background-color: #1FCB62;
	color: #fff;
	border-radius: 10px;
	margin: 20px 30%;
	transition: all 0.1s linear;
	cursor: pointer;
}

.poll_submit:hover {
	background-color: #62E796;
	box-shadow: 0px 0px 1px 1 #000;
}

.my_slides {
	display: none;
	background-size: cover;
	padding: 10px;
}

.my_slides img {
	max-height: 390px;
	width: auto;
	border-radius: 5px;
}

.game_thumbnails_slideshow {
	width: 100%;
	height: 130px;
	margin-top: 15px;
	padding: 5px;
	display: inline-block;
}

.game_thumbnails {
	width: 130px;
	opacity: 0.8;
	display: inline-block;
	margin: 0 5px;
	height: 130px;
	background-size: cover;
	background-position: center center;
	border-radius: 10px;
}

.game_thumbnails:hover {
	box-shadow: 0px 0px 4px 0 #000;
	cursor: pointer;
	opacity: 1;
}

/*Contact*/
form {
	color: #4F4F4F;
	width: 60%;
	margin-left: 7%;
}

input[type=submit] {
	width: 30%;
	min-width: 100px;
	margin: 20px 35% 0;
	font-family: "Bebas Neue";
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	height: 55px;
	color: #4F4F4F;
	background-color: #fff;
	border: 4px solid #4F4F4F;
	padding: 0px 5px 0;
	cursor: pointer;
	transition: all 0.1s linear;
}

input[type=submit]:hover {
	width: 40%;
	min-width: 150px;
	margin: 20px 30% 0;
	box-shadow: 0px 0px 1px 0 #000;
}

.form_item, .form_item_question {
	padding-bottom: 20px;
	font-size: 25px;
	font-family: "Bebas Neue";
}

.form_item {
	width: 50%;
}

input[type=file] {
	width: 100%;
	height: 90px;
	border-radius: 2px;
	border: 3px solid #ADADAD;
}

input[type=text], input[type=email]{
	width: 100%;
	border-radius: 2px;
	border: 3px solid #ADADAD;
	height: 20px;
	color: #4F4F4F;
	padding: 12px 0px 12px 20px;
	margin: 8px 0;
	font-size: 16px;
	transition: all 0.1s linear;
	font-family: "Century Gothic";
}

.form_item_question {
	margin-top: -465px;
	padding-left: 10px;
	width: 43%;
	float: right;
}

textarea {
	width: 100%;
	box-sizing: border-box;
	resize: none;
	border-radius: 2px;
	border: 3px solid #ADADAD;
	height: 250px;
	color: #4F4F4F;
	padding: 20px 20px 0;
	margin: 10px 0 0 0 ;
	font-size: 16px;
	transition: all 0.1s linear;
	font-family: "Century Gothic";
}

select[name=topic] {
	width: 100%;
	border-radius: 2px;
	border: 3px solid #ADADAD;
	height: 50px;
	color: #4F4F4F;
	font-size: 16px;
	font-family: "Century Gothic";
	padding: 12px 0px 12px 20px;
	margin: 8px 0;
	transition: all 0.1s linear;
}

input[type=text]:focus, input[type=email]:focus, input[type=question]:focus {
    border: 3px solid #555;
}

.contact_block {
	display: inline-block;
	float: right;
	margin-top: -500px;
	margin-right: 100px;
	background-color: #F5F5F5;
	box-shadow: 0px 0px 1px 0 #000;
	width: 24%;
	height: 400px;
}

.contact_info {
	text-align: center;
	height: 100px;
	font-size: 16px;
	padding-top: 10px;
}

#drop_zone {
  border: 5px solid blue;
  width:  200px;
  height: 100px;
}

.map {
	height: 250px;
}

/*About*/
.text_column {
	width: 25%;
	display: inline-block;
	height: auto;
	color: #4F4F4F;
	font-family: "Arial";
	font-weight: lighter;
	font-size: 16px;
	vertical-align:top;
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
	padding-bottom: 10px;
}

.text_column h2 {
	font-family: "Bebas Neue";
	font-size: 30px;
	color: #4F4F4F;
	text-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.text_column h3 {
	font-size: 18px;
	padding-top: 10px;
	margin-top: 0;
	font-style: italic;
	font-family: "Century Gothic";
	font-weight: lighter;
}

.text_column p {
	padding-top: 10px;
}

.block {
	display: block;
	height: auto;
}

.profile_picture {
	text-align: center;
	border-radius: 100%;
	margin-bottom: 40px;
	margin-top: 20px;
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center center;
}

/*Game-specific pages*/

.head_display {
	background-size: cover;
	height: 47.3em;
	width: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.head_display h1, h2, h5 {
	font-size: 10vw;
	text-align: center;
	margin-top: 0;
	padding-top: 1.5em;
	text-shadow: 0px 0px 8px #0F0F0F;
	color: #fff;
	font-family: "Century Gothic";
	text-transform: uppercase;
}

.head_display h2 {
	font-size: 20px;
	text-transform: none;
	margin-top: -7em;
}

.head_display h5 {
	font-size: 60px;
	font-weight: bolder;
	text-transform: none;
	margin-top: 2.5em;
	margin-bottom: 0;
	padding: 0;
	text-shadow: 1px 1px 4px #0F0F0F;
}

.text_column_left {
	width: 25%;
	display: inline-block;
	height: auto;
	color: #4F4F4F;
	font-family: "Arial";
	font-weight: lighter;
	font-size: 16px;
	vertical-align:top;
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
	padding-bottom: 10px;
}

iframe {
	width: 640.5px;
	height: 360px;
}

@media only screen and (max-width: 800px) {
	.head_display h1{
		padding-top: 250px;
		padding-bottom: 60px;
	}
	
	.text_column {
		width: 80%;
	}
	
	.frontpage_banner_text {
		padding: 150px 100px 0;
		right: 0;
		left:0;
		position: relative;
		top: 20%;
		display: table-cell;
		align-content: center;
		height: auto;
		text-align: center;
		text-shadow: 0px 0px 8px #0F0F0F;
	}
	
	.page_banner_text {
		width: 100%;
		font-family: "Bebas Neue";
		max-width: none;
		font-weight: lighter;
		height: 300px;
		padding-top: 100px;
		top: 150px;
		right: 0;
		left: 0;
		text-shadow: 0px 0px 8px #0F0F0F;
		text-align: center;
		position: relative;
		display: inline-block;
	}
	
	.page_banner_text h1 {
		font-size: 8vw;
		margin-top: 0px;
		padding-left: 100px;
		padding-right: 100px;
	}
	
	.text_column_left {
		width: 100%;
		right: 0;
		left: 0;
		display: inline-block;
		height: auto;
		color: #4F4F4F;
		font-family: "Arial";
		font-weight: lighter;
		font-size: 16px;
		vertical-align:top;
		text-align: justify;
		-moz-text-align-last: center;
		text-align-last: center;
		padding-bottom: 10px;
	}
	
	iframe {
		width: 80vw;
		height: 50vw;
	}
	
	form {
		width: 80%;
	}
	
	.form_item {
		width: 100%;
	}
	
	.form_file_upload, .form_item_question {
		width: 100%;
		margin-top: 0px;
		padding-left: 10px;
		float: right;
	}
	
	.contact_block {
		display: inline-block;
		float: none;
		left: 0;
		right: 0;
		margin-top: 40px;
		margin-right: 5%;
		margin-left: 5%;
		background-color: #F5F5F5;
		box-shadow: 0px 0px 1px 0 #000;
		width: 90%;
		height: 400px;
	}
}

@media only screen and (max-width: 640px) {
	
	header {
		width: 100%;
		text-align: center;
		min-height: auto;
		height: auto;
		padding: 0px;
		margin: 0;
		z-index: 5;
		border-bottom: 1px solid rgba(252,252,252,0.1);
		position: absolute;
		background-color: rgba(0,0,0,0.1);
	}

	.home {
		font-weight: bold;
		display: inline-block;
		text-align: undefined;
		width: 100%;
		float: none;
		color: #E1E1E1;
		font-size: 20px;
		margin: 15px 0 0 0;
		text-transform: uppercase;
		letter-spacing: 4px;
		text-shadow: 0px 0px 8px #0F0F0F;
		text-decoration: none !important;
		list-style: none;
		transition: all 0.1s linear;
	}

	nav {
		float: none;
	}

	nav ul li {
		float: none;
		display: inline-block;
		width: 100%;
		font-size: 15px;
		text-align: center;
		margin: 0px;
		padding: 0 0 0 20;
		letter-spacing: 2px;
		font-weight: bold;
		text-transform: uppercase;
	}
}